@import "../../styles/base";
@import "../../styles/variable";
@import "../../styles/responsive";

.cart-detail {
  margin: 20px 0;
  .cart-left {
    padding-left: 0 !important;

    .cart-title {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #f8f8f8;
      padding: 10px 30px;
      box-shadow: #f8f8f8;

      .collection-all {
        float: right;
        padding: 10px 16px;
        background-color: #feeeea;
        border-radius: 3px;
        &:hover {
          background: #efc7bc;
        }
        a {
          color: #fab136;
          i {
            margin-left: 16px;
            color: #ef5b3e;
          }
        }
      }
    }

    .cart-info {
      display: flex;

      div:nth-child(1) {
        padding: 0 0 0 30px;
        flex: 4;
        color: $black;
        font-weight: 600;
        font-size: 1.5rem;
      }

      div:nth-child(2),
      div:nth-child(3),
      div:nth-child(4) {
        flex: 1;
        color: $black;
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    .item-wrapper {
      padding: 0 30px;
      .cart-item {
        margin: 20px 0;
        display: flex;
        .info-left {
          display: flex;
          flex: 4;
          .item-img {
            display: block;
            width: 100px;
            max-height: 130px;
            img {
              min-width: 100px;
              height: 100%;
              object-fit: cover;
            }
          }

          .product-wrap-name {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-left: 10px;

            .wrap-name-color {
              font-size: 1.4rem;
              .info-name {
                display: block;
                margin-bottom: 10px;
                color: $black;
                &:hover {
                  color: $yellow;
                }
              }

              .info-color-size {
                display: inline-block;
                font-size: 1.4rem;
                color: $black;
                padding: 4px 10px;
                background: #f8f8f8;
                border-radius: 20px;
              }
            }

            .remove-cart {
              font-size: 1.4rem;
              color: #dd011b;
              cursor: pointer;
              margin-bottom: 0;

              .btn-remove {
                background: transparent;
                border: none;
                i {
                  margin-right: 10px;
                }
                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }

        .info-right {
          flex: 1;
          font-size: 1.6rem;
          text-align: center;
          color: #fab136;
          font-weight: 500;
        }

        .cart-qtt {
          display: flex;
          justify-content: center;
          flex: 1;

          .quantity {
            display: flex;

            .form-control {
              width: 34px;
              text-align: center;
              border: 1px solid #dde1ef;
              font-size: 1.4rem;
              font-weight: 500;
              height: calc(1.5em + 0.75rem + 3px);
            }

            .btn-qtt {
              width: 30px;
              border: 1px solid #dde1ef;
              background: #fff;
              height: 30px;

              i {
                font-size: 1rem;
                text-align: center;
              }
            }

            .minus {
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
              height: 31px;
            }

            .plus {
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              height: 31px;
            }
          }
        }

        .cart-total-price {
          text-align: right;
        }
      }
    }
  }

  .cart-right {
    border: 1px solid #f8f8f8;
    height: 100%;
    padding: 20px 10px;
    border-radius: 5px;
    .cart-tile {
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem;

      .total-price {
        color: #fab136;
      }
    }

    .payment {
      display: flex;
      justify-content: center;
      height: 60px;
      margin: 16px 10px;

      .btn-payment {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        font-size: 2rem;
        border: none;
        background: #fab136;
        border-radius: 5px;
        color: $white;
      }
    }
  }
}
