@import "../../styles/variable";

.header-nav-main {
  margin-top: 16px;
  padding-left: 0 !important;
  display: flex;
  .logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
    img {
      border: 0 none;
      max-width: 100%;
      height: auto;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    .header-menu {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        font-size: 1.6rem;
        margin-right: 20px;
        a {
          color: $black;
          font-weight: 400;
          &:hover {
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }

  .header-search {
    display: flex;
    width: 190px;
    position: relative;
    margin-left: 16px;
    .search-text {
      font-size: 1.4rem;
      min-height: 38px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      &:hover {
        border-color: $yellow;
      }
    }
    .btn-search {
      width: 75px;
      height: 38px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;

      i {
        font-size: 2rem;
        color: $white;
        font-weight: 700;
      }
    }
  }
}
