@import "../../styles/variable";
@import "../../styles/base";

.header-nav-main {
  display: flex;
  margin-top: 16px;
  padding-left: 0 !important;
  position: relative;
  .logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
    img {
      border: 0 none;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    .header-menu {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      .category {
        font-size: 1.6rem;
        margin-right: 20px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: $yellow;
          left: 0;
          bottom: 0;
          transition: width 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }

        a {
          color: $black;
          font-weight: 400;
          &:hover {
            color: $black;
            text-decoration: none;
            font-weight: 400;
          }
        }
      }
    }
  }

  .header-search {
    display: flex;
    width: 190px;
    position: relative;
    margin-left: 16px;
    .search-text {
      font-size: 1.4rem;
      min-height: 38px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      &:hover {
        border-color: $yellow;
      }
    }
    .btn-search {
      width: 75px;
      height: 38px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;

      i {
        font-size: 2rem;
        color: $white;
        font-weight: 700;
      }
    }
  }

  .nav-main-right {
    display: flex;
    align-items: center;
    margin-left: 36px;
    .auth {
      position: relative;
      margin-right: 30px;
      font-size: 20px;

      &:hover .header-account {
        display: block;
        @include animation(minhhieungu, 0.3s, ease-in, 1);
        @include keyframes(minhhieungu) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
      &::after {
        display: block;
        content: "";
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        background-color: transparent;
        width: 26px;
        height: 16px;
        z-index: 9;
      }

      .header-account {
        display: none;
        position: absolute;
        min-width: 170px;
        top: calc(100% + 12px);
        right: 0;
        padding: 6px 8px;
        font-size: 1.4rem;
        background: $white;
        margin-bottom: 0;
        box-shadow: 0px 3px 25px 0px rgb(31 38 67 / 10%);
        z-index: 10;

        li {
          list-style: none;
          padding: 0 10px;
          a {
            display: block;
            color: $black;
            padding: 5px;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
              text-decoration: none;
              color: $yellow;
            }
          }

          p {
            font-size: 1.6rem;
            padding: 5px;
            margin: 0;
            color: $yellow;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .logout {
            padding: 10px 0;
            border-top: 1px solid #dde1ef;
            padding-left: 35px;
            background: url("https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/logout.svg") left center
              no-repeat;
          }
        }
      }
    }
    .cart {
      position: relative;
      &:hover .cart-content {
        display: block;
        @include animation(chubendanminhhieu, 0.3s, ease-in, 1);
        @include keyframes(chubendanminhhieu) {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }

      .cart-content {
        display: none;
        right: 0;
        top: calc(100% + 10px);
        position: absolute;
        background: #fff;
        box-shadow: 0px 3px 25px 0px rgb(31 38 67 / 10%);
        z-index: 10000;
        &::after {
          display: block;
          content: "";
          position: absolute;
          top: -12px;
          right: 0;
          background: transparent;
          width: 28px;
          height: 16px;
        }
        .cart-item {
          width: 430px;
          padding: 20px 10px;
          text-align: center;
          p {
            font-size: 1.6rem;
            color: $black;
          }
          a {
            color: $black;
            font-size: 1.6rem;
            &:hover {
              text-decoration: none;
              color: $yellow;
            }
          }
        }
      }
    }
  }
}
