@import "../../styles/variable";
@import "../../styles/responsive";

.sec-footer {
  background: $footer;
  padding: 35px 0 0;

  .container {
    @include mobile {
      padding-left: 15px !important;
    }
  }
  .footer-item {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #fff;

    .text {
      font-size: 1.4rem;
      color: $white;
      margin-bottom: 26px;
    }

    .title-menu {
      color: $white;
      font-weight: 500;
      font-size: 1.6rem;
      margin-bottom: 10px;
    }

    .form {
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      width: 475px;
      position: relative;
      max-width: 100%;
      margin-bottom: 26px;

      .text-input {
        font-size: 1.6rem;
        padding: 20px 8px;
        height: 48px;
        margin: 0;
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
        border: none;
      }

      input.text-input::placeholder {
        color: $white;
      }

      .btn-register {
        background: #fff;
        color: #fcaf17;
        font-size: 16px;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 48px;
        text-align: center;
        padding: 0 28px;
        border-radius: 0;
        border: none;
        &:hover {
          background: $yellow;
          color: $white;
        }
      }
    }

    .social {
      .social-link {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        transition: all 0.5s;

        &:hover {
          transform: rotate(30deg);
        }
      }
    }

    .list-menu {
      padding-left: 0;
      list-style: none;
      .menu-item {
        font-size: 1.6rem;
        padding: 4px 0;
        a {
          color: $white;
          &:hover {
            color: $yellow;
            text-decoration: none;
          }
        }
      }
    }
  }

  .col-foo4 {
    margin-top: 12px;
  }

  .copy-right {
    text-align: center;
    color: $white;
    font-size: 1.4rem;
    padding: 20px 0;

    b {
      color: $yellow;
      cursor: pointer;
    }
  }
}
